{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}" />
    <title>Document</title>
  </head>

  <body class="bg-sky-500">
    <h1>This is index template</h1>

    {% comment %}Перебор циклом по списку БД.{% endcomment %}
    <h3>
      {% for item in items %}
        {% comment %}Достаем по id.{% endcomment %}
        <a href="{% url 'myapp:detail' item.id %}">Id: {{ item.id }} | Название: {{ item.name }} | Цена: {{ item.price }} <br /></a>
      {% endfor %}
    </h3>
  </body>
</html>
